@import url(sp://import/css/adam.css);

@-webkit-keyframes vote-click {
	0% { box-shadow: #06c 0 0 15px inset; }
	100% { box-shadow: transparent 0 0 15px inset; }
}

body {
	background: transparent;
	color: #fff;
	font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
	margin: 0;
	text-align: center;
	padding: 20px 0 50px;
}

button {
	background: #77f;
	border: 0;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-family: 'Rancho', sans-serif;
	outline: 0;
	padding: 5px;
	position: relative;
	text-shadow: rgba(0, 0, 0, .3) 2px 2px 0;
}

button.nav {
	font-size: 40px;
	-webkit-transition: box-shadow 150ms;
	width: 100%;
}
button.nav:focus, button.nav:hover {
	box-shadow: #77f 0 0 50px;
	z-index: 1;
}

button.cancel {
	background: #c42;
}
button.cancel:focus, button.cancel:hover {
	box-shadow: #c42 0 0 20px;
}

button.create {
	background: #6c1;
}
button.create:focus, button.create:hover {
	box-shadow: #6c1 0 0 20px;
}

button[disabled] {
	background: #aaa;
	color: #444;
}

button[disabled]:focus, button[disabled]:hover {
	box-shadow: none;
}

h1 {
	font: 70px/70px normal 'Love Ya Like A Sister', sans-serif;
	margin-bottom: 20px;
	text-align: center;
	text-shadow: #000 0 0 4px;
}

h2 {
	font: 40px/40px normal 'Rancho', sans-serif;
	margin-bottom: 10px;
}

h3 {
	font-size:20px;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align:left;
}

html {
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .3), transparent 25%, transparent 75%, rgba(0, 0, 0, .3)), url(tile.png);
	overflow: auto;
}

input, textarea {
	border: #112 solid 2px;
	border-radius: 5px;
	box-shadow: #ddd 0 0 5px inset;
	box-sizing: border-box;
	font-family: 'Rancho', sans-serif;
	font-size: 30px;
	margin: 0;
	outline: 0;
	padding: 5px 8px;
	width: 100%;
}

input#create-fb-event {
	width: 20px;
	height: 20px;
	padding: 3px 5px;
	vertical-align: middle;
}

input#create-fb-event:checked {
    background-color: transparent;
}
input#create-fb-event:checked:after {
	content: '\2714';
	color: #6c1;
	font-size:18px;
	position: relative;
	top:-20px;
}

label[for=create-fb-event] {
	vertical-align: middle;
	font-size:14px;
	padding-left: 5px;
}

textarea {
	font-size: 15px;
}

input:focus, textarea:focus {
	border-color: #0ad;
}

p.qrcode{ 
	float:left;
}
#qr-code{
	border-radius: 5px;
}

p.message {
	background: rgba(0, 0, 0, .2);
	border-radius: 5px;
	font-size: 18px;
	line-height: 1.4;
	margin-bottom: 1em;
	padding: 6px 8px;
	text-align: justify;
	margin-left:10px;
	width:250px;
	float:right;
}

p.message code {
	color: #0af;
	font-size: 28px;
}

section {
	margin: 0 auto;
	width: 380px;
}

.track-list {
	display: block;
	height: 0;
	font-family: 'Rancho', sans-serif;	
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	-webkit-transition: height 200ms;
	width: 100%;
}

.track-list .vote {
	font-size: 27px;
	font-weight: bold;
	line-height: 48px;
	position: absolute;
	padding-right: 9px;
	right: 0;
	top: 0;
}

.track-list li {
	background: -webkit-linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1) 80%, rgba(0, 0, 0, .3)), url(tile.png);
	border-color: #111;
	border-style: solid;
	border-width: 0 0 1px;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 50px;
	padding: 5px;
	position: absolute;
	text-align: left;
	-webkit-transition: top 500ms;
	user-select: none;
	width: 100%;
}

.track-list li.voted {
	-webkit-animation-name: vote-click;
	-webkit-animation-duration: 300ms;
}

.track-list li:hover .vote {
	color: #6c1;
	text-shadow: #333 0 1px 0;
	visibility: visible;
	background: -webkit-linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1) 80%, rgba(0, 0, 0, .3)), url(tile.png);
}

.track-list span {
	display: block;
	line-height: 1.2;
}

.track-list span.title {
	color: #fff;
	font-size: 18px;
	overflow:hidden;
	display:block;
	white-space: nowrap;
	width:100%;
	text-shadow: #000 0 1px 0;
}

.track-list span.artist {
	color: #999;
	font-size: 15px;
}

.track-list .first {
	border-top-width: 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.track-list .last {
	border-bottom-width: 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.track-list .vote {
	visibility: hidden;
}

.track-list-tooltip {
	background: -webkit-linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .1) 70%, rgba(0, 0, 0, .3)), url(tile.png);
	border-color: #fff;
	border-style: solid;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-sizing: border-box;
	border-width: 1px 1px 1px 1px;
	width: 420px;
	height: 60px;
	padding: 5px;
	text-align: center;
	display:none;
	position:absolute;
	font-size:15px;
}

.track-list-tooltip:before {
	content:"";
	position:absolute;
	bottom:-15px; /* value = - border-top-width - border-bottom-width */
	left:40px; /* controls horizontal position */
    border-width:15px 15px 0;
	border-style:solid;
    border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* creates the smaller  triangle */
.track-list-tooltip:after {
	content:"";
	position:absolute;
	bottom:-12px; /* value = - border-top-width - border-bottom-width */
	left:43px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	border-width:12px 12px 0;
	border-style:solid;;
	border-color:rgba(0, 0, 0, .9) transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

.view-party,
.view-start
{
	display: none;
}

#view-party .view-party,
#view-start .view-start
{
	display: block;
}

#queue {
	margin-bottom: 10px;
}

#search-results {
	margin: 3px 0 20px;
}

#dropbox {
	border:4px dashed #333;width:330px;height:80px;padding:10px;margin: 10px auto;align:center;display:block;
}

#dropbox.over {
	opacity:0.8;border-color:#6c1;
}
